.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-modal {
  background-color: #fff;
  width: 400px;
  padding: 24px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  animation: fadeDown 0.3s linear;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
}

.icon-close ion-icon {
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  font-size: 16px;
  text-align: left;
  margin: 24px 0;
  line-height: 2;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

@keyframes fadeDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
